
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --cor--principal:  #03346E; ;
    --cor--secundaria:#3377b7;
    --cor--terciaria:#021526;
    --cor--quartenaria:#EBF4F6,;
    --cor--quinta: #BBE9FF;
    --cor--sexta:#800000;
    --cor--fundo:#EBF4F6;;

    --fonte--principal:  "Tinos", serif; 
    --fonte--secundaria:"DM Serif Text", serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor--fundo);
}

header {
    background-color: var(--cor--principal); 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--cor--principal);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-family: var(--cor--secundaria);
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}


.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    border-radius: 10px 10px 0 0; 
}

.product-card button {
    padding: 10px 15px;
    border: none;
    background-color: var(--cor--secundaria);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.products {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: var(--cor--principal); 
    color: white;
    top: 30px;
    bottom: 0;
    line-height: auto;
    width: auto;
    font-family: var(--cor--principal);
    font-weight: 500;
    letter-spacing: 2px;
}


.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width:999px) {
      body{
        overflow: hidden;
      }

    .nav-list{
        z-index: 2;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: var(--cor--principal);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
}

@keyframes navLinkFade {
    from{
       opacity: 0;
       transform: translateX(50px);
    }
    to{
       opacity: 1;
       transform: translateX(0);
    }
}

.mobile-menu.active .line1{
     transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
      opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}


*::-webkit-scrollbar{
    width: 20px;
  
}

*::-webkit-scrollbar-track{
    background-color: var(--cor--principal);  
}

*::-webkit-scrollbar-thumb{
    background-color:  #B7E0FF;   
    border-radius: 20px; 
}